{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}{% endblock %}

{% block extra_script %}
    <script src="{% static "js/lib/knockout-repeat.js" %}"></script>
    <script src="{% static "js/src/viewModel.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            ko.applyBindings(vm);
        });
    </script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<h1>Escala de notas</h1>
<br/>

Nota minima:
<input type="number" step="0.1" data-bind="value: notaMinima, numeric: number"/>

<br/>

Nota maxima:
<input type="number" step="any" data-bind="value: notaMaxima" disabled/>

<br/>

Total de puntos:
<input type="number" step="any" data-bind="value: totalPuntos"/>

<br/>

Porcentaje de nota 4:
<input type="number" step="any" data-bind="value: porcentaje"/>

<br/>

Redondear puntaje de nota 4 para abajo:
<input type="checkbox" data-bind="checked: redondear4ParaAbajo"/>

<br/>
<br/>
<br/>

<table>
    <tr>
        <td>Puntaje</td>
        <td>Nota</td>
    </tr>
    <tr data-bind="repeat: { count: 2*totalPuntos()+1}">
        <td><span data-bind="text: $index/2" /></td>
        <td><span data-bind="text: calcularNota($index)" /></td>
    </tr>
</div>

</table>



{% endblock %}
