{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Escala de notas{% endblock %}

{% block extra_script %}
    <script src="{% static "js/lib/knockout-repeat.js" %}"></script>
    <script src="{% static "js/src/viewModel.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            ko.applyBindings(vm);
        });
    </script>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        input {
            text-align:right;
        }
        .table-striped > tbody > tr:nth-child(odd) > td, 
        .table-striped > tbody > tr:nth-child(odd) > th {
           background-color: #C7BFE6;
         }
    </style>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="row">
    <div align="center"><h1>Escala de notas</h1></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <tr>
                <td align="center"><span>Nota mínima</span></td>
                <td align="center"><span>Nota máxima</span></td>
                <td align="center"><span>Total de puntos</span></td>
                <td align="center"><span>Nota límite</span></td>
                <td align="center"><span>Porcentaje de nota límite</span></td>
                <td align="center"><span>Redondear puntaje de nota límite para abajo</span></td>
            </tr>
            <tr>
                <td align="center">
                    <input type="number" step="0.1" min="0" data-bind="event: { change: checkValoresNotas }, value: notaMinima, valueUpdate: 'afterkeydown'"/>
                </td>
                <td align="center">
                    <input type="number" step="0.1" min="1" data-bind="event: { change: checkValoresNotas }, value: notaMaxima, valueUpdate: 'afterkeydown'"/>
                </td>
                <td align="center">
                    <input type="number" step="any" min="1" data-bind="value: totalPuntos"/>
                </td>
                <td align="center">
                    <input type="number" step="0.1" min="1" data-bind="value: notaLimite"/>
                </td>
                <td align="center">
                    <input type="number" step="any" min="1" max="99" data-bind="value: porcentaje"/>
                </td>
                <td align="center">
                    <input type="checkbox" data-bind="checked: redondearNotaLimiteParaAbajo"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <table class="table table-condensed table-striped table-hover">
            <tr>
                <td align="center"><b>Puntaje</b></td>
                <td align="center"><b>Nota</b></td>
            </tr>
            <tr data-bind="repeat: { count: 2*totalPuntos()+1}">
                <td align="center"><span data-bind="text: $index/2" /></td>
                <td align="center"><span data-bind="text: calcularNota($index)" /></td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
    </div>
</div>



{% endblock %}
