{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Diego Muñoz{% endblocktrans %}</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="feature-columns">
                <div>
                    {% blocktrans %}
                    Me:<br />
                    <a href="https://scholar.google.com/citations?user=kpxPKhQAAAAJ&hl=es">Google Scholar</a>
                    <br />
                    <a href="https://www.researchgate.net/profile/Diego_Munoz_Saez">ResearchGate</a>
                    <br />
                    <a href="https://www.linkedin.com/profile/view?id=AAIAAApgQnkBce4zKkM91_mKZv-h75QDOik3txk&trk=nav_responsive_tab_profile">LinkedIn</a>
                    {% endblocktrans %}
                </div>
                <div>
                    {% blocktrans %}
                    <a href="http://blog.dmunoz.cl/">Blog</a>
                    {% endblocktrans %}
                </div>
                <div>
                    {% blocktrans %}
                    <a href="/escala-de-notas/">Escala de notas</a>
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
